ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_TEXT_MODEL=doubao-1-5-pro-32k-250115
ARK_VISION_MODEL=doubao-seed-1-6-vision-250815
ARK_IMAGE_MODEL=doubao-seedream-4-0-250828
HOST=127.0.0.1
PORT=3000
MAX_CONCURRENCY=2
